.card-right .body .edit-content .form-group .img{
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 30px;
}
.card-right .body .edit-content .form-group .img input {
    display: none;
}
.card-right .body .edit-content .form-group .img img {
    max-width: 150px;
    max-height: 150px;
    padding: 2px;
    top: -1px;
    position: relative;
}
.card-right .body .edit-content .form-group .img label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    -webkit-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s;
}
.card-right .body .edit-content .form-group .img label:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}

.card-right .body .edit-content {
    margin-bottom: 60px;
}

.card-right .body .edit-content .form-group .link{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
    margin-bottom: 0;
}
.card-right .body .edit-content .form-group a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
}
.card-right .body .edit-content .form-group input, .card-right .body .info-block .form-group input {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.card-right .body .edit-event .button-event {
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex;
}
.card-right .body .info-block .info {
    width: 100%;
}

.card-right .body .info-block .prod-info {
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
}
.card-right .body .info-block .prod-info .review a{
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #212121;
    border-radius: 2px;
    border: solid 1px #91c71f;
    background-color: #ffffff;
    padding: 11px 40px;
}
a:hover {
    text-decoration: none;
}

.card-right .body .info-block .prod-info .info .title{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.card-right .body .info-block .prod-info .info .title span {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}

.card-right .body .info-block .prod-info .info .main-info{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.card-right .body .info-block .sale-info {
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
}
.card-right .body .info-block .sale-info .review a{
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #212121;
    border-radius: 2px;
    border: solid 1px #91c71f;
    background-color: #ffffff;
    padding: 11px 40px;
}
a:hover {
    text-decoration: none;
}

/* .card-right .body .info-block .sale-info .info .title{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.card-right .body .info-block .sale-info .info .title span {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}

.card-right .body .info-block .sale-info .info .main-info{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
} */

/* .card-right .body .link-action ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card-right .body .link-action ul p {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}
.card-right .body .link-action ul li a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
} */

.card-right .body .edit-content .autocomp h5 span {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.card-right .body .edit-content .autocomp h5 i {
    margin-left: 30px;
}

.card-right .body .edit-content .obl-list, .card-right .body .edit-content .sub-list{
    list-style-type: none;
}
.card-right .body .edit-content .obl-list li, .card-right .body .edit-content .sub-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.card-right .body .edit-content .obl-list li i, .card-right .body .edit-content .sub-list li i {
    font-size: 20px;
    color: red;
    margin-left: 30px;
}
