

.technology-product .header {
    width: 100%;
    text-align: right;
    margin-bottom: 70px;
}

.technology-product .body {
    margin: 45px;
}

.technology-product .body .save {
    display: block;
    margin: 0 auto;
}

.technology-product .body h2 {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #6e9617;
    margin-bottom: 80px;
}

.technology-product .body .technology-info {
    margin-bottom: 30px;
}

.technology-product .body .technology-info .mat-form-field {
    margin-bottom: 40px;
}

.technology-product .body .technology-info .mat-dialog-actions {
    padding: 0;
}

.body .mat-form-field {
    width: 100%;
}

.body .rahngik {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.body .rahngik .min, .body .rahngik .max {
    max-width: 20%;
    margin-right: 20px;
    margin-bottom: 0!important;
}

.body .rahngik .mera {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111111;
}
.technology-product .body .technology-form .save {
    width: 179px;
    height: 40px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #91c71f;
    background-color: #c8e38f;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
}
