<div class="container">
    <div class="row">
      <div class="col-12 seeds">
        <div class="header">
          <mat-form-field class="search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
          </mat-form-field>
          <div class="add">
              <i class="material-icons" (click)="addNewContactModal()">
                person_add
              </i>
          </div>
        </div>
        <mat-table [dataSource]="dataSource" class="seeds-info" matSort>
          <!-- Position FIO -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Название </mat-header-cell>
            <mat-cell *cdkCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
        
          <!-- Name Name -->
          <ng-container cdkColumnDef="brand">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Бренд </mat-header-cell>
            <mat-cell *cdkCellDef="let element"> {{element.brand}} </mat-cell>
          </ng-container>
        
          <!-- Weight Phone -->
          <ng-container cdkColumnDef="productType">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Группа </mat-header-cell>
            <mat-cell *cdkCellDef="let element"> {{element.productType}} </mat-cell>
          </ng-container>
        
          <!-- Symbol Delete -->
          <ng-container cdkColumnDef="delete">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header>Удалить</mat-header-cell>
            <mat-cell *cdkCellDef="let element"> <i class="material-icons delete" (click)="deleteProduct(element.id)">delete</i> </mat-cell>
          </ng-container>
  
          <!-- Symbol Subdivision -->
          <ng-container cdkColumnDef="active">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Активировать/деактивировать </mat-header-cell>
            <mat-cell *cdkCellDef="let element">
                <mat-slide-toggle [(ngModel)]="element.active" (change)="changeSeedsActivity(element)"></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <!-- Weight Phone -->
          <!-- <ng-container cdkColumnDef="firstPhone">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Акции </mat-header-cell>
            <mat-cell *cdkCellDef="let element"> {{element.firstPhone}} </mat-cell>
          </ng-container> -->
        
          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
  