<div class="card-right">
  <div class="header">
    <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="close()">
  </div>
  <div class="body">
    <div class="content row">
      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Дата:
          </p>
          <p class="main-info">{{order.createDateUNIX | date: 'dd.MM.yyyy'}}</p>
        </div>
      </div>
      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Контрагент
          </p>
          <p class="main-info">{{order.selectedOrder}}</p>
        </div>
      </div>
      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Отправлено в обработку
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>
      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Коммерческое условие
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>
      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Название
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>
      <div class="order-info col-md-6 col-12">
      </div>
      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Пользователь
          </p>
          <p class="main-info">{{order.selectedOrder.currencyERPId}}</p>
        </div>
      </div>

      <div class="order-info col-md-6 col-12">
        <div class="info">
          <p class="title">
            Сумма (в валюте КП)
          </p>
          <p class="main-info">{{order.selectedOrder.sum}} {{order.selectedOrder.currencyERPId}}</p>
        </div>
      </div>


      <div class="col-12 order-info order-sub-info">
        <div class="info">
          <p class="title">
            Перечень номенклатуры и цен
          </p>
        </div>
      </div>

      <div class="order-info col-md-3 col-3">
        <div class="info">
          <p class="title">
            Название
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>

      <div class="order-info col-md-3 col-3">
        <div class="info">
          <p class="title">
            Тип препарата
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>

      <div class="order-info col-md-3 col-3">
        <div class="info">
          <p class="title">
            Бренд
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>

      <div class="order-info col-md-3 col-3">
        <div class="info">
          <p class="title">
            Цена, USD
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>

      <div class="col-12 order-info order-sub-info">
        <div class="info">
          <p class="title">
            Список активностей
          </p>
        </div>
      </div>

      <div class="order-info col-md-3 col-3">
        <div class="info">
          <p class="title">
            Дата
          </p>
          <p class="main-info">{{order}}</p>
        </div>
      </div>

      <div class="order-info col-md-9 col-9">
        <div class="info">
          <p class="title">
            Тема встречи
          </p>
          <p class="main-info main-info-link">{{order}} <a href="#">Перейти</a></p>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="footer">
</div>
