.orders {
  background-color: #fff;
  margin: 20px 10px;
  overflow: auto;
  width: 94%;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

.orders .orders-info {
  width: 100%;
}

.order {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

.order .search {
  margin-left: 10px;
}

.order .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.previewsidebar {
  margin: 20px 10px;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

.mat-drawer {
  width: 70%;
}

.orders-info .mat-column-user, .mat-column-kontragent, .mat-column-topic {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.orders-info .mat-column-approved {
  flex: 0 0 12%;
  justify-content: center;
}

.orders-info .mat-column-quantity, .mat-column-sum {
  flex: 0 0 10%;
  justify-content: flex-end;
}

.status-pending {
  color: #ed750f;
}

.status-new {
  color: #808080;
}

.status-progress {
  color: #0673d2;
}

.status-done {
  color: #22814a;
}

.status-rejected {
  color: #b72020;
}
