.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "-";
}

.breadcrumb .breadcrumb-item a {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}
.breadcrumb .breadcrumb-item.active span {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #202020;
}