.previewsidebar {
    margin: 20px 10px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.technology .mat-drawer-content {
    right: 10px;
    margin-left: 10px;
}
.technology .technology .technology-container {
    width: 1140px;
}
.technology .mat-drawer {
    width: 70%;
}

.technology .technology .header{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
.technology .technology .header .add {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.technology .technology .header .mat-form-field {
    margin-left: 20px;
}
.technology .technology .header.mat-table {
    padding: 20px;
}
.technology .technology {
    background-color: #fff;
    margin: 20px 10px;
    overflow: auto;
    max-width: 1140px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}
.technology .technology .header {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mat-drawer {
    width: 80%;
}
.mat-drawer-shown + .content-container {
    width: 20%;
}













/*.technology {*/
    /*background-color: #fff;*/
    /*-webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);*/
    /*box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);*/
/*}*/

/*.technology .search {*/
    /*margin-left: 10px;*/
/*}*/

/*.technology .technology-info .subvision p {*/
    /*margin-bottom: 0;*/
/*}*/

/*.technology .header {*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
            /*justify-content: space-between;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
            /*align-items: center;*/
    /*margin-top: 20px;*/
/*}*/

/*.previewsidebar {*/
  /*margin: 20px 10px;*/
  /*-webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);*/
  /*box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);*/
/*}*/

/*.activities {*/
  /*background-color: #fff;*/
  /*margin: 20px 10px;*/
  /*overflow: auto;*/
  /*width: 94%;*/
  /*-webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);*/
  /*box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);*/
/*}*/

/*.mat-drawer {*/
  /*width: 70%;*/
/*}*/

/*.technology .mat-column-date {*/
  /*flex: 0 0 20%;*/
/*}*/
/*.technology .mat-column-orders {*/
  /*flex: 0 0 5%;*/
/*}*/
