<div class="user">

  <div class="header">
    <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="onNoClick()">
  </div>

  <div class="body">
    <h2>Добавление пользователя</h2>

    <form (ngSubmit)="onSubmit(userform)" class="user-form" [formGroup]="userform">

      <div class="user-info">

        <mat-form-field class="col-12">
          <input type="text" placeholder="Логин" matInput formControlName="newLoginUser" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="text" placeholder="ФИО" matInput formControlName="newNameUser" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="text" placeholder="Должность" matInput formControlName="newPositionUser" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="text" placeholder="Телефон" matInput formControlName="newPhoneUser" required>
        </mat-form-field>

        <mat-form-field class="col-12">
          <input type="text" placeholder="Группа" matInput formControlName="newGroupUser" required>
        </mat-form-field>

      </div>

      <div mat-dialog-actions>
        <button mat-button [type]="submit" class="save" [disabled]="!userform.valid" [mat-dialog-close]="-1">Сохранить</button>
      </div>

    </form>

  </div>

</div>
