<mat-sidenav-container class="admin-dashbroad">
  <mat-sidenav #sidenav mode="side" opened="true" class="admin-sidebar" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <a class="logo" href="#"><img src="../../../assets/img/logo.png" alt="logo"></a>
    <ul class="sidebar-nav">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
    </ul>
    <div class="bgc"></div>
  </mat-sidenav>

  <mat-sidenav-content class="admin-content">
    <app-navbar></app-navbar>
    <i class="material-icons" (click)="sidenav.toggle();" *ngIf="sidenav.opened">first_page</i>
    <i class="material-icons" (click)="sidenav.toggle();" *ngIf="!sidenav.opened">last_page</i>
  </mat-sidenav-content>
</mat-sidenav-container>