<mat-sidenav-container class="admin-dashbroad">
  <mat-sidenav #sidenav mode="side" opened="true" class="admin-sidebar" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <div class="bgc">
    <a class="logo" href="#"><img src="../../../assets/img/logo.png" alt="logo"></a>
      <a [routerLink]="['/dashbroad']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Dashbroad
      </a>
      <mat-accordion>
        <mat-expansion-panel hideToggle #example>
          <mat-expansion-panel-header>
          <mat-panel-title>
            <a [routerLink]="['products']" routerLinkActive="active">
              Продукты
            </a>
            <i class="material-icons" *ngIf="!example.expanded">
              expand_less
            </i>
            <i class="material-icons" *ngIf="example.expanded">
              expand_more
            </i>
          </mat-panel-title>
          </mat-expansion-panel-header>
          asd
        </mat-expansion-panel>
      </mat-accordion>
      
      <a [routerLink]="['users']" routerLinkActive="active">
        Пользователи
      </a>
  
      <a [routerLink]="['activity']" routerLinkActive="active">
        Активности
      </a>
  
      <a [routerLink]="['reviews']" routerLinkActive="active">
        Отзывы
      </a>
  
      <a [routerLink]="['scheme-protect']" routerLinkActive="active">
        Схемы защиты
      </a>
  
      <a [routerLink]="['contacts']" routerLinkActive="active">
        Контакты ТДН
      </a>
  
      <a [routerLink]="['messages']" routerLinkActive="active">
        Сообщения
      </a>
  
      <a [routerLink]="['manual']" routerLinkActive="active">
        Справочники
      </a>
  
      <a [routerLink]="['analytics']" routerLinkActive="active">
        Аналитика
      </a>
  
      <a [routerLink]="['devices']" routerLinkActive="active">
        Устройства
      </a>
  
      <a [routerLink]="['settings']" routerLinkActive="active">
        Настройки системы
      </a>
  </div>
  </mat-sidenav>

  <mat-sidenav-content class="admin-content">
    <app-navbar></app-navbar>
    <i class="material-icons" (click)="sidenav.toggle();" *ngIf="sidenav.opened">first_page</i>
    <i class="material-icons" (click)="sidenav.toggle();" *ngIf="!sidenav.opened">last_page</i>


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>