<mat-sidenav-container class="admin-dashbroad">
  <mat-sidenav #sidenav mode="side" opened="true" class="admin-sidebar" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <div class="bgc">
    <a class="logo" href="#"><img src="../../../assets/img/logo.png" alt="logo"></a>
    <ul class="sidebar-nav">
      <mat-list role="list">
          <mat-list-item>
              <a [routerLink]="['/dashbroad']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Dashbroad
              </a>
          </mat-list-item>
            <mat-accordion>
              <mat-expansion-panel hideToggle #example>
                <mat-expansion-panel-header>
                <mat-panel-title>
                  <a [routerLink]="['products']" routerLinkActive="active">
                    Продукты
                    <div class="arrows">
                      <i class="material-icons" *ngIf="!example.expanded">
                        expand_less
                      </i>
                      <i class="material-icons" *ngIf="example.expanded">
                        expand_more
                      </i>
                    </div>
                  </a>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <a [routerLink]="['products/szr']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  СЗР
                </a>
                <a [routerLink]="['products/seeds']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  Семена
                </a>
                <a [routerLink]="['products/sales']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  Акции
                </a>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel hideToggle #reviews>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a [routerLink]="['reviews']" routerLinkActive="active">
                      Отзывы
                      <div class="arrows">
                        <i class="material-icons" *ngIf="!reviews.expanded">
                          expand_less
                        </i>
                        <i class="material-icons" *ngIf="reviews.expanded">
                          expand_more
                        </i>
                      </div>
                    </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <a [routerLink]="['reviews/contacts-reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  По контактам
                </a>
                <mat-accordion>
                  <mat-expansion-panel hideToggle #reviewsproduct>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <a [routerLink]="['reviews/product-reviews']" routerLinkActive="active">
                          По Продуктам
                          <div class="arrows">
                            <i class="material-icons" *ngIf="!reviewsproduct.expanded">
                              expand_less
                            </i>
                            <i class="material-icons" *ngIf="reviewsproduct.expanded">
                              expand_more
                            </i>
                          </div>
                        </a>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                      <a [routerLink]="['reviews/product-reviews/szr-reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        СЗР-отзывы
                      </a>
                      <a [routerLink]="['reviews/product-reviews/seeds-reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        Семена-отзывы
                      </a>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-expansion-panel>
            </mat-accordion>
      
      <mat-list-item role="listitem">
        <a [routerLink]="['users']" routerLinkActive="active">
          Пользователи
          </a>
      </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['activity']" routerLinkActive="active">
              Активности
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['scheme-protect']" routerLinkActive="active">
              Схемы защиты
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['contacts']" routerLinkActive="active">
              Контакты ТДН
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['messages']" routerLinkActive="active">
              Сообщения
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['manual']" routerLinkActive="active">
              Справочники
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['analytics']" routerLinkActive="active">
              Аналитика
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['devices']" routerLinkActive="active">
              Устройства
            </a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['settings']" routerLinkActive="active">
              Настройки системы
            </a>
        </mat-list-item>
      </mat-list>
    </ul>
  </div>
  </mat-sidenav>

  <mat-sidenav-content class="admin-content">
    <app-navbar></app-navbar>
    <i class="material-icons" (click)="sidenav.toggle();" *ngIf="sidenav.opened">first_page</i>
    <i class="material-icons" (click)="sidenav.toggle();" *ngIf="!sidenav.opened">last_page</i>


    <router-outlet><router-outlet></router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>