<div class="card-right">
  <div class="header">
    <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="close()">
  </div>
  <div class="body">
    <form (ngSubmit)="previewSubmitSZR(nameSZRCMS.value, nameSZRERP.value)"
      class="container prod-card" [hidden]="!this.product.SZR">
      <div class="form-content">
        <div class="edit-event row">
          <div class="activity-button">
              <mat-slide-toggle [(ngModel)]="this.product.selectProductSzr.active" [ngModelOptions]="{standalone: true}" (change)="changeActivity(product.selectProductSzr)">Активировать/деактивировать</mat-slide-toggle>
          </div>
          <div class="button-event">
            <!-- <button class="delete-item" (click)="deleteProductSzr(product.selectProductSzr.id)"><i class="material-icons delete">delete</i><span>Удалить</span></button> -->
            <button class="save" [type]="submit">Сохранить</button>
          </div>
        </div>
        <div class="info-block row">
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="Название в CMS" aria-label="Название в CMS" matInput [(value)]="product.selectProductSzr.name" [formControl]="nameSZRCMS" [matAutocomplete]="autoCMS">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoCMS="matAutocomplete" [displayWith]="displayFnCMS">
                <mat-option *ngFor="let CMS of filteredOptionsCMS | async" [value]="CMS">
                  {{CMS.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Бренд
              </p>
              <p class="main-info">{{product.selectProductSzr.brand?.brandName}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Группа
              </p>
              <p class="main-info">{{product.selectProductSzr.fertilizerGroup?.fertilizerGroupName}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Рейтинг <span>3.5/5</span>
              </p>
              <p class="main-info">
                <bar-rating name="rating" [(rate)]="this.product.selectProductSzr.rating" [max]="5" [readOnly]="true"></bar-rating>
              </p>
            </div>
            <div class="review">
              <a href="#">Отзывы</a>
            </div>
          </div>
        </div>
        <div class="edit-content row">
          <div class="form-group col-md-6 col-12">
            <!-- <mat-form-field>
              <mat-select placeholder="Название в CMS" formControlName="nameCSM" [(value)]="this.product.selectProductSzr.name">
                <mat-option *ngFor="let product of productsCMS" [value]="product.name">{{product.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field>
              <input type="text" placeholder="Название в ERP" aria-label="Название в ERP" matInput [(value)]="this.product.selectERP.name" [formControl]="nameSZRERP" [matAutocomplete]="autoERP">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoERP="matAutocomplete" [displayWith]="displayFnERP">
                <mat-option *ngFor="let ERP of filteredOptionsERP | async" [value]="ERP">
                  {{ERP.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <p class="link">Линк</p>
            <p><a href="https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn" target="_blank">https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn</a></p>
          </div>
        </div>
        <div class="link-action">
          <ul><p>Акци</p>
            <li><a href="#"><img src="../../../../../assets/img/ic-sales.svg" alt="alt"> <span>Акція для садівничих господарств. Подарунок – поїздка до Франції</span></a></li>
          </ul>
        </div>
      </div>
    </form>
    <form (ngSubmit)="previewSubmitSeed(nameSeedCMS.value, nameSeedERP.value)"
    class="container prod-card" [hidden]="!this.product.Seed">
      <div class="form-content">
        <div class="edit-event row">
          <div class="activity-button">
              <mat-slide-toggle [(ngModel)]="this.product.selectProductSeed.active" [ngModelOptions]="{standalone: true}" (change)="changeActivity(product.selectProductSzr)">Активировать/деактивировать</mat-slide-toggle>
          </div>
          <div class="button-event">
            <!-- <button class="delete-item" (click)="deleteProductSzr(product.selectProductSzr.id)"><i class="material-icons delete">delete</i><span>Удалить</span></button> -->
            <button class="save" [type]="submit">Сохранить</button>
          </div>
        </div>
        <div class="info-block row">
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="Название в CMS" aria-label="Название в CMS" matInput [(value)]="product.selectProductSeed.name" [formControl]="nameSeedCMS" [matAutocomplete]="autoCMS">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoCMS="matAutocomplete" [displayWith]="displayFnCMS">
                <mat-option *ngFor="let CMS of filteredOptionsCMS | async" [value]="CMS">
                  {{CMS.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Бренд
              </p>
              <p class="main-info">{{product.selectProductSeed.brand?.brandName}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Группа
              </p>
              <p class="main-info">{{product.selectProductSeed.culture?.cultureName}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Рейтинг <span>{{this.product.selectProductSeed.rating}}/5</span>
              </p>
              <p class="main-info">
                <bar-rating name="rating" [(rate)]="this.product.selectProductSeed.rating" [max]="5" [readOnly]="true"></bar-rating>  
              </p>
            </div>
            <div class="review">
              <a href="#">Отзывы</a>
            </div>
          </div>
        </div>
        <div class="edit-content row">
          <div class="form-group col-md-6 col-12">
            <!-- <mat-form-field>
              <mat-select placeholder="Название в CMS" formControlName="nameCSM" [(value)]="this.product.selectProductSzr.name">
                <mat-option *ngFor="let product of productsCMS" [value]="product.name">{{product.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field>
              <input type="text" placeholder="Название в ERP" aria-label="Название в ERP" matInput [(value)]="this.product.selectERP.name" [formControl]="nameSeedERP" [matAutocomplete]="autoERP">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoERP="matAutocomplete" [displayWith]="displayFnERP">
                <mat-option *ngFor="let ERP of filteredOptionsERP | async" [value]="ERP">
                  {{ERP.name}} ({{ERP.descriptions[1]?.description}}г.-{{ERP.descriptions[0]?.description}}г.)
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <p class="link">Линк</p>
            <p><a href="https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn" target="_blank">https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn</a></p>
          </div>
        </div>
        <div class="link-action">
          <ul><p>Акци</p>
            <li><a href="#"><img src="../../../../../assets/img/ic-sales.svg" alt="alt"> <span>Акція для садівничих господарств. Подарунок – поїздка до Франції</span></a></li>
          </ul>
        </div>
      </div>
    </form>
    <form (ngSubmit)="previewSubmitSale(formGroup.value)"
    class="container sale-card" [hidden]="!this.product.Sales">
      <div class="form-content" [formGroup]="formGroup">
        <div class="edit-event row">
          <div class="activity-button">
              <mat-slide-toggle [(ngModel)]="this.product.selectSale.active" [ngModelOptions]="{standalone: true}" (change)="changeSzrActivity(product.selectSale)">Активировать/деактивировать</mat-slide-toggle>
          </div>
          <div class="button-event">
            <!-- <button class="delete-item" (click)="deleteProductSzr(product.selectProductSzr.id)"><i class="material-icons delete">delete</i><span>Удалить</span></button> -->
            <button class="save" [type]="submit">Сохранить</button>
          </div>
        </div>
        <div class="info-block row">
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="Название Акци" matInput formControlName="topic">
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <!-- <input type="text" placeholder="Период Акции" matInput [(value)]="product.selectSale.topic"> -->
              <input matInput
                  placeholder="Период Акции"
                  [satDatepicker]="picker"
                  formControlName="dateSale"
                  >
              <sat-datepicker #picker [rangeMode]="true" 
              ></sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="Текст-описание" matInput formControlName="description">
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="ссылка на акцию" matInput formControlName="url">
            </mat-form-field>
          </div>
        </div>
        <div class="edit-content row">
          <div class="form-group col-md-6 col-12 sale-product-title">
            <h5><span>Продукты</span><i class="material-icons" *ngIf="product.plusminusProd" (click)="product.plusminusProd = false" style="color: #91c71f">add</i><i class="material-icons" *ngIf="!product.plusminusProd" (click)="product.plusminusProd = true" style="color: red">close</i></h5>
          </div>
          <div class="form-group col-md-6 col-12" *ngIf="!product.plusminusProd">
            <mat-form-field>
              <input type="text" placeholder="Название в CRM" aria-label="Название в CRM" matInput formControlName="nameCRM" [matAutocomplete]="autoCRM">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoCRM="matAutocomplete" [displayWith]="displayFnCRM" (optionSelected)="optionSaleSelected($event)">
                <mat-option *ngFor="let CRM of filteredOptionsCRM | async" [value]="CRM">
                  {{CRM.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group col-12 product-list">
            <ul>
              <li *ngFor="let product of product.productMassInSale">
                <a href="">{{product.name}}</a><i class="material-icons" (click)="deleteProductSale(product.id)">remove</i>
              </li>
            </ul>
            <!-- {{startDate}}
            {{endDate}} -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>