<div class="card-right">
  <div class="header">
    <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="close()">
  </div>
  <div class="body">
    <form (ngSubmit)="previewSubmitSZR(nameSZRCMS, nameSZRERP)"
      class="container prod-card" [hidden]="!this.product.SZR">
      <div class="form-content">
        <div class="edit-event row">
          <div class="activity-button">
              <mat-slide-toggle [(ngModel)]="this.product.selectProductSzr.active" [ngModelOptions]="{standalone: true}" (change)="changeSzrActivity(product.selectProductSzr)">Активировать/деактивировать</mat-slide-toggle>
          </div>
          <div class="button-event">
            <!-- <button class="delete-item" (click)="deleteProductSzr(product.selectProductSzr.id)"><i class="material-icons delete">delete</i><span>Удалить</span></button> -->
            <button class="save" [type]="submit">Сохранить</button>
          </div>
        </div>
        <div class="info-block row">
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="Название в CMS" aria-label="Название в CMS" matInput [(value)]="product.selectProductSzr.name" [formControl]="nameSZRCMS" [matAutocomplete]="autoCMS">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoCMS="matAutocomplete" [displayWith]="displayFnCMS">
                <mat-option *ngFor="let CMS of filteredOptionsCMS | async" [value]="CMS">
                  {{CMS.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Бренд
              </p>
              <p class="main-info">{{product.selectProductSzr.brand?.name}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Группа
              </p>
              <p class="main-info">{{product.selectProductSzr.fertilizerGroup?.name}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Рейтинг <span>3.5/5</span>
              </p>
              <p class="main-info">
                <rating 
                  [(ngModel)]="product.selectProductSzr.rating"
                  [ngModelOptions]="{standalone: true}"
                  [max]="5"
                  iconClass="fa-star"
                  fullIcon="★"
                  emptyIcon="☆"
                  [readonly]="true"
                  [float]="true">
                </rating>
              </p>
            </div>
            <div class="review">
              <a href="#">Отзывы</a>
            </div>
          </div>
        </div>
        <div class="edit-content row">
          <div class="form-group col-md-6 col-12">
            <!-- <mat-form-field>
              <mat-select placeholder="Название в CMS" formControlName="nameCSM" [(value)]="this.product.selectProductSzr.name">
                <mat-option *ngFor="let product of productsCMS" [value]="product.name">{{product.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field>
              <input type="text" placeholder="Название в ERP" aria-label="Название в ERP" matInput [(value)]="this.nameERP" [formControl]="nameSZRERP" [matAutocomplete]="autoERP" (click)="filterSZRERP();">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoERP="matAutocomplete" [displayWith]="displayFnERP">
                <mat-option *ngFor="let ERP of filteredOptionsERP | async" [value]="ERP">
                  {{ERP.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <p class="link">Линк</p>
            <p><a href="https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn" target="_blank">https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn</a></p>
          </div>
        </div>
        <div class="link-action">
          <ul><p>Акци</p>
            <li><a href="#"><img src="../../../../../assets/img/ic-sales.svg" alt="alt"> <span>Акція для садівничих господарств. Подарунок – поїздка до Франції</span></a></li>
          </ul>
        </div>
      </div>
    </form>
    <form (ngSubmit)="previewSubmitSeed(nameSeedCMS, nameSeedERP)"
    class="container prod-card" [hidden]="!this.product.Seed">
      <div class="form-content">
        <div class="edit-event row">
          <div class="activity-button">
              <mat-slide-toggle [(ngModel)]="this.product.selectProductSeed.active" [ngModelOptions]="{standalone: true}" (change)="changeSzrActivity(product.selectProductSzr)">Активировать/деактивировать</mat-slide-toggle>
          </div>
          <div class="button-event">
            <!-- <button class="delete-item" (click)="deleteProductSzr(product.selectProductSzr.id)"><i class="material-icons delete">delete</i><span>Удалить</span></button> -->
            <button class="save" [type]="submit">Сохранить</button>
          </div>
        </div>
        <div class="info-block row">
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input type="text" placeholder="Название в CMS" aria-label="Название в CMS" matInput [(value)]="product.selectProductSeed.name" [formControl]="nameSeedCMS" [matAutocomplete]="autoCMS">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoCMS="matAutocomplete" [displayWith]="displayFnCMS">
                <mat-option *ngFor="let CMS of filteredOptionsCMS | async" [value]="CMS">
                  {{CMS.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Бренд
              </p>
              <p class="main-info">{{product.selectProductSeed.brand?.name}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Группа
              </p>
              <p class="main-info">{{product.selectProductSeed.culture?.name}}</p>
            </div>
          </div>
          <div class="prod-info col-md-6 col-12">
            <div class="info">
              <p class="title">
                Рейтинг <span>3.5/5</span>
              </p>
              <p class="main-info">
                <rating 
                  [(ngModel)]="product.selectProductSeed.rating"
                  [ngModelOptions]="{standalone: true}"
                  [max]="5"
                  iconClass="fa-star"
                  fullIcon="★"
                  emptyIcon="☆"
                  [readonly]="true"
                  [float]="true">
                </rating>
              </p>
            </div>
            <div class="review">
              <a href="#">Отзывы</a>
            </div>
          </div>
        </div>
        <div class="edit-content row">
          <div class="form-group col-md-6 col-12">
            <!-- <mat-form-field>
              <mat-select placeholder="Название в CMS" formControlName="nameCSM" [(value)]="this.product.selectProductSzr.name">
                <mat-option *ngFor="let product of productsCMS" [value]="product.name">{{product.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field>
              <input type="text" placeholder="Название в ERP" aria-label="Название в ERP" matInput [(value)]="product.selectProductSeed.name" [formControl]="nameSeedERP" [matAutocomplete]="autoERP" (click)="filterSeedERP();">
              <mat-icon matSuffix class="search-icon">search</mat-icon>
              <mat-autocomplete #autoERP="matAutocomplete" [displayWith]="displayFnERP">
                <mat-option *ngFor="let ERP of filteredOptionsERP | async" [value]="ERP">
                  {{ERP.name}} ({{ERP.descriptions[1]?.description}}г.-{{ERP.descriptions[0]?.description}}г.)
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <p class="link">Линк</p>
            <p><a href="https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn" target="_blank">https://tdnasinnya.com/uk/kataloh/zasoby-zakhystu-roslyn</a></p>
          </div>
        </div>
        <div class="link-action">
          <ul><p>Акци</p>
            <li><a href="#"><img src="../../../../../assets/img/ic-sales.svg" alt="alt"> <span>Акція для садівничих господарств. Подарунок – поїздка до Франції</span></a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>