<div class="card-right">
    <div class="header">
      <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="close()">
    </div>
    <div class="body">
      <form (ngSubmit)="editSubmit(contactForm.value)" [formGroup]="contactForm" class="container">
        <div class="edit-event row">
          <a class="delete-item" (click)="deleteContactBrand(contact.selectContactBrand.id)"><i class="material-icons delete">delete</i><span>Удалить</span></a>
          <button type="submit" class="save" *ngIf="!disable" (click)="editSubmit(contactForm.value);disabled()">Сохранить</button>
        <button class="save" *ngIf="disable" (click)="enabled()">Редактировать</button>
        </div>
        <div class="edit-content row">
          <!-- <div class="form-group col-12 main-image">
            <div class="img">
              <img [src]="url" *ngIf="url != undefined">
              <label for="file-upload" class="custom-file-upload">
                150x150
              </label>
              <input id="file-upload" type='file' (change)="onSelectFile($event)">
            </div>
          </div> -->
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="ФИО" [(value)]="contact.selectContactBrand.name" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input matInput formControlName="position" placeholder="Должность" [(value)]="contact.selectContactBrand.position" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <mat-select placeholder="Подразделение"  [(value)]="contact.selectContactBrand.productType" formControlName="productType">
                <mat-option value="FERTILIZER">СЗР</mat-option>
                <mat-option value="HYBRID">Семена</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12 review" *ngIf="contact.selectContactBrand?.commentAmount > 0">
            <a (click)="goToReview(contact.selectContactBrand)">Отзывы <span>{{contact.selectContactBrand?.commentAmount}}</span></a>
          </div>
          <div class="d-block w-100">
            <div class="form-group col-md-6 col-12">
              <mat-form-field>
                <input matInput formControlName="email" placeholder="Email" [(value)]="contact.selectContactBrand.email" required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input matInput type="tel" formControlName="firstPhone" [textMask]="{mask: datemask}" placeholder="Телефон" [(value)]="contact.selectContactBrand.firstPhone" required>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6 col-12">
            <mat-form-field>
              <input matInput type="tel" formControlName="secondPhone" [textMask]="{mask: datemask}" placeholder="Телефон" [(value)]="contact.selectContactBrand.secondPhone">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>