<div class="container some-contact">
  <div class="header">
      <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="onNoClick()">
  </div>
  <div class="body">
    <h2 *ngIf="this.contact.tdnContact">Заполните форму для добавления менеджера</h2>
    <h2 *ngIf="this.contact.brandContact">Заполните форму для добавления производителя</h2>
  </div>
  <form (ngSubmit)="onSubmitTDN(addtdn.value)" class="contact-form" [formGroup]="addtdn" [hidden]="!this.contact.tdnContact">
    <div class="contact-info row">
      <div class="form-group col-12 main-image">
        <div class="img">
          <img [src]="urltdn" *ngIf="urltdn != undefined">
          <label for="file-upload-tdn" class="custom-file-upload">
            150x150
          </label>
          <input id="file-upload-tdn" type="file" accept="png, jpg, jpeg" formControlName="addTdnFile" (change)="onSelectFileFoto($event)">
        </div>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="name" type="text" placeholder="ФИО" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="position" type="text" placeholder="Должность" required>
        </mat-form-field>
      </div>
      <!-- <div class="form-group col-md-6 col-12 autocomp">
				<mat-form-field>
					<input type="text" placeholder="Подразделение" aria-label="Подразделение" matInput formControlName="addsubDivision" [matAutocomplete]="subDivisionTDN">
					<mat-icon matSuffix class="search-icon">search</mat-icon>
					<mat-autocomplete #subDivisionTDN="matAutocomplete" [displayWith]="displayFnaddSub" (optionSelected)="onSelectionaddSubdivision($event)">
						<mat-option *ngFor="let Sub of filteredOptionsaddSub | async" [value]="Sub">
							{{Sub.name}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
					<ul class="sub-list">
						<li *ngFor="let mysub of contact.selectedSubdevition">
							<a href="">{{mysub.name}}</a><i class="material-icons" (click)="delSub(mysub)">remove</i>
						</li>
					</ul>
			</div> -->
			<div class="form-group col-md-6 col-12 autocomp">
				<mat-form-field>
					<input type="text" placeholder="Область" aria-label="Область" matInput formControlName="addoblast" [matAutocomplete]="oblastTDN">
					<mat-icon matSuffix class="search-icon">search</mat-icon>
					<mat-autocomplete #oblastTDN="matAutocomplete" [displayWith]="displayFnaddObl" (optionSelected)="onSelectionaddOblast($event)">
						<mat-option *ngFor="let obl of filteredOptionsaddObl | async" [value]="obl">
							{{obl.name}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<div class="error-obl" *ngIf="contact.selectedObl.length < 1">Выберите хотя бы одну область</div>
				<ul class="obl-list">
					<li *ngFor="let myobl of contact.selectedObl">
						<a href="">{{myobl.name}}</a><i class="material-icons" (click)="delObl(myobl)">remove</i>
					</li>
				</ul>
			</div>
      <div class="d-block w-100">
        <div class="form-group col-md-6 col-12">
          <mat-form-field>
            <input matInput class="" formControlName="email" type="email" placeholder="Емейл">
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="firstPhone" type="tel" placeholder="Телефон основной" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="secondPhone" type="tel" placeholder="Телефон дополнительный">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="addsomething">
      <button mat-button [type]="submit" class="save" [disabled]="!addtdn.valid || contact.selectedObl.length < 1" [mat-dialog-close]="-1">Добавить</button>
    </div>
  </form>

  <form (ngSubmit)="onSubmitBrand(addbrand.value)" class="contact-form" [formGroup]="addbrand" [hidden]="!this.contact.brandContact">
    <div class="contact-info row">
      <!-- <div class="form-group col-12 main-image">
        <div class="img">
          <img [src]="urltdn" *ngIf="urltdn != undefined">
          <label for="file-upload-tdn" class="custom-file-upload">
            150x150
          </label>
          <input id="file-upload-tdn" type="file" formControlName="addTdnFile" (change)="onSelectFileFoto($event)">
        </div>
      </div> -->
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="name" type="text" placeholder="ФИО" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="position" type="text" placeholder="Должность" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <mat-select placeholder="Подразделение" formControlName="productType">
            <mat-option value="FERTILIZER">СЗР</mat-option>
            <mat-option value="HYBRID">Семена</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <mat-select placeholder="Бренд" formControlName="brandName" required>
              <mat-option *ngFor="let brand of brands" [value]="brand?.id">
                {{brand?.brandName}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-block w-100">
        <div class="form-group col-md-6 col-12">
          <mat-form-field>
            <input matInput class="" formControlName="email" type="email" placeholder="Емейл">
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="firstPhone" type="tel" placeholder="Телефон основной" required>
        </mat-form-field>
      </div>
      <div class="form-group col-md-6 col-12">
        <mat-form-field>
          <input matInput class="" formControlName="secondPhone" type="tel" placeholder="Телефон дополнительный">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="addsomething">
      <button mat-button [type]="submit" class="save" [disabled]="!addbrand.valid" [mat-dialog-close]="-1">Добавить</button>
    </div>
  </form>
</div>