<div class="container some-contact">
  <form (ngSubmit)="onSubmit(contactform)" class="contact-form" [formGroup]="contactform">
    <div class="contact-info row">
      <mat-form-field class="col-12">
        <input matInput class="" formControlName="name" type="text" placeholder="ФИО" required>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput class="" formControlName="email" type="email" placeholder="Емейл">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput class="" formControlName="firstPhone" type="tel" placeholder="Телефон основной">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput class="" formControlName="secondPhone" type="tel" placeholder="Телефон дополнительный">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput class="" formControlName="position" type="text" placeholder="Должность">
      </mat-form-field>
      <div class="col-12" formArrayName="states">
        <div class="oblasti" *ngFor="let state of contactform.controls.states.controls; let i = index;">
          <mat-checkbox formControlName="{{i}}">Hide required marker</mat-checkbox>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!contactform.valid" [mat-dialog-close]="-1">Добавить</button>
      <button mat-button (click)="onNoClick()">Отмена</button>
    </div>
  </form>
</div>