<div class="card-right">
  <div class="header">
    <img src="../../../../../../assets/img/ic-close.svg" alt="alt" (click)="close()">
  </div>
  <div class="body">
    <form ngSubmit="editSubmit()" class="container">
      <div class="edit-event row">
        <button class="delete-item" (click)="deleteReview(review.selectProductContactReview.id)"><i class="material-icons delete">delete</i><span>Удалить</span></button>
        <button class="save" *ngIf="review.selectProductContactReview.active" (click)="hideReview(review.selectProductContactReview.id)">Скрыть</button>
        <button class="save" *ngIf="!review.selectProductContactReview.active" (click)="showReview(review.selectProductContactReview.id)">Показать</button>
      </div>
      <div class="edit-content-szr row">
        <div class="prod-info col-md-6 col-12">
          <div class="info">
            <p class="title">
              Дата
            </p>
            <p class="main-info">{{review.selectProductContactReview.createDateUNIX | date: 'dd.MM.yyyy'}}</p>
          </div>
        </div>
        <div class="prod-info col-md-6 col-12">
          <div class="info">
            <p class="title">
              Оценка
            </p>
            <p class="main-info">{{review.selectProductContactReview.rating}}</p>
          </div>
        </div>
        <div class="prod-info col-md-6 col-12">
          <div class="info">
            <p class="title">
              Продукт
            </p>
            <p class="main-info">{{review.selectProductContactReview.name}}</p>
          </div>
        </div>
        <div class="prod-info col-md-6 col-12">
          <div class="info">
            <p class="title">
              Бренд
            </p>
            <p class="main-info">{{review.selectProductContactReview.brand?.brandName}}</p>
          </div>
        </div>
        <div class="prod-info col-md-6 col-12">
          <div class="info">
            <p class="title">
              Пользователь (который оставил отзыв)
            </p>
            <p class="main-info">{{review.selectProductContactReview.creatorName}}</p>
          </div>
        </div>
        <div class="prod-info col-md-6 col-12">
          <div class="info">
            <p class="title">
              Группа
            </p>
            <p class="main-info">{{review.selectProductContactReview.fertilizerGroup?.fertilizerGroupName}}</p>
          </div>
        </div>
        <div class="prod-info col-md-6 col-12">
          <mat-form-field>
            <textarea matInput cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      placeholder="Текст:" [(ngModel)]="review.selectProductContactReview.message" name="message"></textarea>
          </mat-form-field>
          <div class="save-comment">
            <button class="save-item" (click)="updateCommentText(review.selectProductContactReview.id, review.selectProductContactReview.message)">
              <i class="material-icons save-text">save</i><span>Сохранить</span></button>
          </div>
          <!--<mat-icon class="save-text" (click)="updateCommentText(review.selectProductContactReview.id, review.selectProductContactReview.message)">save</mat-icon>-->
        </div>
      </div>
    </form>
  </div>
</div>

<div class="footer">
</div>
