.mat-form-field {
  display: block;
}
.tdn .contactsTDN .header .mat-form-field {
  margin-left: 20px;
}
.edit-content-szr {
  padding-top: 50px;
}
.card-right .body .edit-content .form-group .img{
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  position: relative;
}
.card-right .body .edit-content .form-group .img input {
  display: none;
}
.card-right .body .edit-content .form-group .img img {
  max-width: 150px;
  max-height: 150px;
  padding: 2px;
  top: -1px;
  position: relative;
}
.card-right .body .edit-content .form-group .img label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  -webkit-transition: color .3s, background-color .3s;
  -o-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}
.card-right .body .edit-content .form-group .img label:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
}
.prod-info .info .title{
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
}

.card-right .body .save-comment {
  display: flex;
  justify-content: flex-start;
  border-bottom: none;
  padding-bottom: 10px;
  margin: 0 0 30px 0;
}

.card-right .body .save-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #91c71f;
  background-color: #c8e38f;
  margin-right: 10px;
  padding: 7px;
  width: 130px;
}

.card-right .body .save-item span {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  padding-left: 2px;
}

textarea {
  padding: 0;
}
