<mat-sidenav-container>

  <mat-sidenav #sidenavprewiev mode="side" position="end" class="previewsidebar">
    <app-user-preview></app-user-preview>
  </mat-sidenav>

  <mat-sidenav-content>

<div class="container mb20 user">
  <div class="row">
    <div class="col-12 users">
      <div class="header">
        <mat-form-field class="search">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
        </mat-form-field>
        <div class="add">
          <i class="material-icons" (click)="addNewContactModal()">
            person_add
          </i>
      </div>
      </div>
      <mat-table [dataSource]="dataSource" class="users-info" matSort>
        <!-- Position login -->
        <ng-container cdkColumnDef="login">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Логин </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <img src="../../../../../assets//img/ic-edit.svg" alt="alt" style="margin-right: 20px"
                 (click)="openRightSidenav(element, dataSource)">{{element.login}} </mat-cell>
        </ng-container>
      
        <!-- Name FIO -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> ФИО </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight position -->
        <ng-container cdkColumnDef="position">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [hidden]="hideCell"> Должность </mat-header-cell>
          <mat-cell *cdkCellDef="let element" [hidden]="hideCell"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Symbol phone -->
        <ng-container cdkColumnDef="phone">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [hidden]="hideCell"> Телефон </mat-header-cell>
          <mat-cell *cdkCellDef="let element" [hidden]="hideCell"> {{element.phone}} </mat-cell>
        </ng-container>
        <!-- Symbol active -->
        <ng-container cdkColumnDef="active">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header [hidden]="hideCell"> Активность </mat-header-cell>
          <mat-cell *cdkCellDef="let element" [hidden]="hideCell">
              <mat-slide-toggle [(ngModel)]="element.active" (change)="changeUsersActivity(element)"></mat-slide-toggle>

          </mat-cell>
        </ng-container>
      
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSize]="3"
        [pageSizeOptions]="[10, 25, 50, 100]">
      </mat-paginator>
    </div>
  </div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
