<div class="container">
  <div class="row">
    <div class="col-12 users">
      <div class="header">
        <mat-form-field class="search">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фильтр">
        </mat-form-field>
      </div>
      <mat-table [dataSource]="dataSource" class="users-info" matSort>
        <!-- Position login -->
        <ng-container cdkColumnDef="login">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Логин </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.login}} </mat-cell>
        </ng-container>
      
        <!-- Name FIO -->
        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> ФИО </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight position -->
        <ng-container cdkColumnDef="position">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Должность </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Symbol phone -->
        <ng-container cdkColumnDef="phone">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
          <mat-cell *cdkCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>
        <!-- Symbol active -->
        <ng-container cdkColumnDef="active">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Активность </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
              <mat-slide-toggle [(ngModel)]="element.active" (change)="changeUsersActivity(element)"></mat-slide-toggle>

          </mat-cell>
        </ng-container>
      
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSize]="3"
        [pageSizeOptions]="[1, 3, 5, 7]">
      </mat-paginator>
    </div>
  </div>
</div>