/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.add, .delete, img, i, button {
    cursor: pointer;
}

.search-icon {
    color: #91c71f;
}

.admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel .mat-expansion-panel-body {
    padding-left: 0 16px 16px 24px;
}
.admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel, .admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel .mat-expansion-panel .mat-expansion-panel-body {
    padding-right: 0;
}

.mb20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.mat-drawer-backdrop.mat-drawer-shown{
    background-color: transparent;
}
.all-content .admin-dashbroad .admin-sidebar .mat-list {
    background-color: #91c71f;
}
.all-content .admin-dashbroad .admin-sidebar .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
}

.all-content .admin-dashbroad .admin-sidebar .mat-expansion-panel-body {
    padding: 0;
}

/* mat-inpute css */
.mat-input-element, .mat-form-field-appearance-legacy .mat-form-field-label  {
    caret-color: #91c71f;
}

.mat-form-field.mat-focused .mat-form-field-label, .mat-form-field.mat-focused.mat-primary .mat-select-arrow, .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #91c71f;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #91c71f;
}
/*/ mat-inpute css */
/* mat-slide-toggle css */
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #c8e38f;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #91c71f;
}
.mat-slide-toggle .mat-ripple-element{
    background-color: rgba(145, 199, 31, .12);;
}
/*/ mat-slide-toggle css */

/* paginator */
.mat-paginator .mat-paginator-container .mat-paginator-range-actions .mat-icon-button .mat-paginator-icon path {
    fill: #91c71f;
}
.mat-paginator .mat-paginator-container .mat-paginator-range-actions .mat-icon-button:disabled .mat-paginator-icon path {
    fill: #c7e28e;
}

/*/ paginator */

/* preview */
.card-right {
    margin: 20px 50px 50px 50px;
}
.card-right .header {
    text-align: right;
    position: relative;
    right: -15px;
    margin-top: 30px;
    margin: 30px;
}

.card-right .body .edit-event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin: 0 0 30px 0;
}

.admin-dashbroad .admin-content .mat-drawer-container {
    min-height: 100vh;
}

.card-right .body .edit-event .delete-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #91c71f;
    background-color: #ffffff;
    margin-right: 10px;
    padding: 7px;
    width: 130px; 
}

.card-right .body .edit-event .delete-item span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
}

.card-right .body .edit-event .save, .some-product .body .save {
    width: 130px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #91c71f;
    background-color: #c8e38f;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
}


.card-right .body .form-group .mat-form-field {
    display: block;
}

.card-right .body .edit-content .form-group .img{
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    position: relative;
}
.card-right .body .edit-content .form-group .img input {
    display: none;
}
.card-right .body .edit-content .form-group .img img {
    max-width: 150px;
    max-height: 150px;
    padding: 2px;
    top: -1px;
    position: relative;
}
.card-right .body .edit-content .form-group .img label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    -webkit-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s;
}
.card-right .body .edit-content .form-group .img label:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}
/*/ preview */