/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.add, .delete {
    cursor: pointer;
}

.admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel .mat-expansion-panel-body {
    padding: 0 16px 16px 24px;
}
.admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel, .admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel .mat-expansion-panel .mat-expansion-panel-body {
    padding-right: 0;
}

.mb20 {
    margin-bottom: 20px;
}