/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.add, .delete, img, i {
    cursor: pointer;
}

.admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel .mat-expansion-panel-body {
    padding-left: 0 16px 16px 24px;
}
.admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel, .admin-dashbroad .admin-sidebar .bgc ul .mat-expansion-panel .mat-expansion-panel .mat-expansion-panel-body {
    padding-right: 0;
}

.mb20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.mat-drawer-backdrop.mat-drawer-shown{
    background-color: transparent;
}
.all-content .admin-dashbroad .admin-sidebar .mat-list {
    background-color: #91c71f;
}
.all-content .admin-dashbroad .admin-sidebar .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
}

.all-content .admin-dashbroad .admin-sidebar .mat-expansion-panel-body {
    padding: 0;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #c8e38f;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #91c71f;
}
.mat-slide-toggle .mat-ripple-element{
    background-color: rgba(145, 199, 31, .12);;
}